// --------------------
//
// Typography
//
// --------------------

.siteTitle {
   text-align: center;
   @media #{$medium-up} {
      font-size: 1.9rem;
   }
}

.noteTitle {
   margin-left: -25px;
}

.meta {
   // font-size: 80%;
   color: lighten($body-font-color, 70%);
   text-align: right;
   margin: 0 10px;
}

.footer {
   text-align: center;
   font-size: 90%;
   color: lighten($body-font-color,70%);
}

#noteTitle {
   font-size: rem-calc(35);
   margin-left: -25px;
}
